/**
 * Colors.
 */
$white: #ffffff;
$black: #111111;
$whitesmoke: #f5f6f9;
$dark-500: #6c7278;
$dark-600: #706f6f;
$dark-900: #393e44;
$green-300: #73bfb7;
$green-200: #b8f1ea;

/**
 * Fonts.
 */
$font-highlighted: 'Biotif Regular';
$font-highlighted-bold: 'Biotif Bold';
$font-content: 'Kylosans Demo Regular';
// $font-button: 'Kylosans Demo Bold';
$font-button: 'Kylosans Demo Medium';
$font-heading: 'Merriweather Bold';
